NET "DATA_IN(0)" LOC = "T10";
NET "DATA_IN(1)" LOC = "T9";
NET "DATA_IN(2)" LOC = "V9";
NET "DATA_IN(3)" LOC = "M8";
NET "DATA_IN(4)" LOC = "N8";
NET "DATA_IN(5)" LOC = "U8";
NET "DATA_IN(6)" LOC = "V8";
NET "DATA_IN(7)" LOC = "T5";

NET "DATA_OUT(0)" LOC = "U16";
NET "DATA_OUT(1)" LOC = "V16";
NET "DATA_OUT(2)" LOC = "U15";
NET "DATA_OUT(3)" LOC = "V15";
NET "DATA_OUT(4)" LOC = "M11";
NET "DATA_OUT(5)" LOC = "N11";
NET "DATA_OUT(6)" LOC = "R11";
NET "DATA_OUT(7)" LOC = "T11";